.gallery{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: stretch;
	align-items: stretch;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.gallery-item{
	position: relative;
	height: 33.3vh;
    min-height: 350px;
	width: 50%;
	cursor: pointer;
}
.gallery-item__pic-wrap{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.gallery-item__pic-wrap:after{
	content: '';
    z-index: 2;
    background-color: #000;
    opacity: .45;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gallery-item__pic{
	position: absolute;
	z-index: 1;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    transition: all 1.5s cubic-bezier(.215, .61, .355, 1) 0s;
}
.gallery-item:hover .gallery-item__pic{
	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.gallery-item__txt{
	position: absolute;
	z-index: 3;
	bottom: 60px;
	color: #fff;
	font-size: 30px;
	border-bottom: 1px solid rgba(255,255,255,.5);
	transition: all 1.5s cubic-bezier(.215, .61, .355, 1) 0s;
}
.gallery-item__txt:hover{border-bottom-color: transparent;}
.gallery-item:nth-child(odd) .gallery-item__txt{right: 70px;}
.gallery-item:nth-child(even) .gallery-item__txt{left: 70px;}

.gallery-popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	z-index: -100;
	opacity: 0;
 	-webkit-transition: .25s ease;
 	-o-transition: .25s ease;
 	transition: .25s ease; 
}
.gallery-popup.show{
	visibility: visible;
	z-index: 200;
	opacity: 1;
}
.gallery-popup__inner{
	width: 100%;
	position: relative;
    margin: 0 auto;
    max-width: 1230px;
    padding: 60px 0 50px;
    overflow: hidden;
}
.gallery-swiper-container{
    width: 100%;
    height: 100%;
}
.gallery-swiper-slide img{
	margin: 0 auto;
	max-height: 70vh;
}
.gallery-swiper-slide{
	width: 100%;
	height: 100%;
}
.gallery-popup__close{
	width: 28px;
    height: 28px;
	position: absolute;
    z-index: 1;
    right: 15px;
    top: 5px;
    cursor: pointer;
	text-align: center;
	font-size: 0;
}
.gallery-popup__close:after, .gallery-popup__close:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    display: block;
    background-color: #878788;
	width: 38px;
    height: 2px;
}
.gallery-popup__close:before {
    right: 0;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(-45deg) translateY(-1px);
    -ms-transform: rotate(-45deg) translateY(-1px);
    transform: rotate(-45deg) translateY(-1px);
}
.gallery-popup__close:after {
    left: 0;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(45deg) translate(1px, -2px);
    -ms-transform: rotate(45deg) translate(1px, -2px);
    transform: rotate(45deg) translate(1px, -2px);
}
.gallery-swiper-button{
	display: block;
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: #fff;
    opacity: .8;
    text-align: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
	text-align: center;
}
.gallery-swiper-button:hover{opacity: 1;}
.gallery-swiper-button-next{right: 5%;}
.gallery-swiper-button-prev{
	left: 5%;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.gallery-swiper-button span{
	display: block;
	background-color: #878788;
	width: 40px;
    height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1px 0 0 -20px;
    z-index: 1;
}
.gallery-swiper-button span:after, .gallery-swiper-button span:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 16px;
    height: 2px;
    background-color: #878788;
}
.gallery-swiper-button span:before{
    right: -4px;
    top: -5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.gallery-swiper-button span:after {
    right: -3px;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.gallery-swiper-pagination{
	position: absolute;
	z-index: 5;
	width: 100%;
    height: 28px;
    bottom: 10px;
	left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	font-size: 0;
}
.gallery-swiper-pagination .swiper-pagination-bullet{
	display: block;
	margin: 0 10px !important;
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: transparent;
    border: 1px solid #878788;
	cursor: pointer;
	border-radius: 50%;
}
.gallery-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background: #878788;
}

@media only screen and (max-width : 1279px){
	.gallery-item__txt{bottom: 30px;}
}
@media only screen and (max-width : 767px){
	.gallery{display: block;}
	.gallery-item{
		height: 33.3vh;
		min-height: 180px;
		width: 100%;
	}
	.gallery-item__txt{
  		position: absolute;
		bottom: auto !important;
		right: auto !important;
  		top: 50% !important;
  		left: 50% !important;
  		-webkit-transform: translate(-50%, -50%);
  		-ms-transform: translate(-50%, -50%);
  		-o-transform: translate(-50%, -50%);
  		transform: translate(-50%, -50%);  
		font-size: 16px;
	}
	.gallery-item:first-child .gallery-item__txt{margin-top: 50px;}
	.gallery-popup{padding: 0 15px;}
	.gallery-swiper-button{display: none;}
	.gallery-swiper-slide img{max-height: 200px;}
	.gallery-popup__inner{position: static;}
	.gallery-popup__close{
		width: 18px;
		height: 18px;
		right: 20px;
		top: 20px;
	}
	.gallery-popup__close:after, .gallery-popup__close:before {
		width: 23px;
		height: 1px;
	}
}